<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yunoi.cleaningmaster">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <!-- 191212 am 10:20 오프닝 액티비티 생성 - by 재훈 -->
        <!-- 191212 am 10:20 오프닝 액티비티에 인텐트 필터 이동- by 재훈 -->
        <activity android:name=".OpeningActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".PedomterSensor"
            android:enabled="true" />
        <receiver
            android:name=".PedomterFrgment$MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.yunoi.cleaningmaster.MY_ACTION" />
            </intent-filter>


        </receiver>

        <!-- 191213 pm 03:33 알람 관련 리시버, 서비스 by 강윤해 -->

        <service  android:name=".LoadAlarmsService"/>

        <receiver android:name=".AlarmReceiver" />

        <receiver android:name=".LoadAlarmsReceiver" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="${bootPriority}">
                <action  android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>
        </receiver>

        <!-- 191212 am 10:20 닉네임 액티비티 생성- by 재훈 -->
        <activity android:name=".NickNameSetting" />
        <!-- 191212 am 11:10 프로필 설정 액티비티 생성- by 재훈 -->
        <activity android:name=".ProfileFirstSetting" />
        <!--<activity-->
        <!--android:name=".MainActivity"-->
        <!--android:label="@string/app_name"></activity>-->
        <activity android:name=".TutorialGuideActivity"></activity>
        <activity android:name=".ExpShowActivity" />
        <activity android:name=".AddEditAlarmActivity" />
        <activity android:name=".LisenceActivity"></activity>
        <receiver
            android:name="com.example.yunoi.cleaningmaster.InitActionReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="Device Event Receiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>